export MY_NAME=
export MY_EMAIL=

# For respecting gitignore files with fzf
export FZF_DEFAULT_COMMAND='fd --type f'

## Python Setup ####################################################################
# Using pyenv for managing python versions when calling `python` (without a version)
# See https://github.com/pyenv/pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi

# Set static python directory for other applications to use, such as youcompleteme
# Those are installed using brew and can be called by specifying a version
export PYTHON_3_9="/usr/local/opt/python@3.9/bin"
export PYTHON_3_8="/usr/local/opt/python@3.8/bin"
export STATIC_PYTHON_BIN="$PYTHON_3_9:$PYTHON_3_8"
export PATH="$STATIC_PYTHON_BIN:$PATH"

# Python version will resolve the following way
# * `python` => $PYENV_ROOT
# * `python3` => $PYTHON_3_9
# * `python3.8` => $PYTHON_3_8
## Python Setup End ################################################################

